   <!-- Change Password Card -->
    <div class="p-6 mt-4 bg-site border border-gray-200 rounded-xl shadow-sm dark:border-gray-700">
      <h3 class="text-lg font-semibold text-primary mb-4">{{"settings.changepassword" | translate}}</h3>

      <form class="space-y-4" (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
        <!-- Current Password -->
        <div>
          <lib-custom-input
           formControlName="password"   
           [control]="passwordForm.get('password')"
           [placeholder]="'settings.currentpasswordplaceholder' | translate" 
           [label]="'settings.currentpassword' | translate"
           [type]="'password'">
        </lib-custom-input>
        </div>

        <!-- New Password -->
        <div>
          <lib-custom-input  
           formControlName="newPassword" 
           [control]="passwordForm.get('newPassword')"
           [parentForm]="passwordForm"
           [placeholder]="'settings.newpasswordplaceholder' | translate" 
           [label]="'settings.newpassword' | translate"
           [type]="'password'">
        </lib-custom-input>
        </div>

        <!-- Confirm New Password -->
        <div>
          <lib-custom-input  
           formControlName="confirmNewPassword" 
           [control]="passwordForm.get('confirmNewPassword')"
           [parentForm]="passwordForm"
           [placeholder]="'settings.confirmnewpassword' | translate" 
           [label]="'settings.confirmnewpassword' | translate"
           [type]="'password'">
        </lib-custom-input>
        </div>
          
        <!-- Save Button -->
      <lib-custom-button 
       [label]="'settings.submit' | translate" 
       [disabled]=" passwordForm.invalid"
       (onClick)="onSubmit()"
       [isloading]="isloading"/>      
    </form>
    </div>