  <!-- Header -->
        <div class="flex items-center mb-3">
            <img
            [src]="post?.user?.photo"
            alt="User avatar"
            class="w-10 h-10 rounded-full mr-3"
            />
            <div>
                <h2 class="text-sm font-semibold text-gray-900">{{ post?.user?.name }}</h2>
                <p class="text-xs text-gray-500">{{ post?.createdAt | date: 'short' }}</p>
            </div>
            <div class="relative inline-block text-left ml-auto">
                <button
                    type="button"
                    (click)="toggleMenu()"
                    class="text-gray-500 hover:text-gray-700 focus:outline-none"
                >
                    <svg
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                >
                <path
                    d="M6 10a2 2 0 11-4 0 2 2 0 014 0zm6 0a2 2 0 11-4 0 2 2 0 014 0zm6 0a2 2 0 11-4 0 2 2 0 014 0z"
                ></path>
                </svg>
                </button>

               <!-- dropdown menu -->
             @if (menuOpen) {
                <div class="absolute right-0 mt-2 w-40 bg-white border border-gray-200 rounded-lg shadow-lg z-50">
                    <ul class="py-1 text-sm text-gray-700">
                    <li>
                        <button
                        (click)="onEdit()"
                        class="block w-full text-left px-4 py-2 hover:bg-gray-100"
                        >
                        ✏️ Edit Post
                        </button>
                    </li>
                    <li>
                        <button
                        (click)="onDelete()"
                        class="block w-full text-left px-4 py-2 hover:bg-gray-100 text-red-600"
                        >
                        🗑️ Delete Post
                        </button>
                    </li>
                    </ul>
                </div>
              }
            </div>

        </div>

  <!-- Content -->
@if(post.body){
  <p class="text-sm text-gray-800 mb-3 cursor-pointer" [routerLink]="['/posts', post.id]">
    {{ post.body }}
  </p>
}

  <!-- Image -->
@if (post.image) {
  <div class="rounded-lg overflow-hidden">
    <img
      [src]="post.image"
      alt="Post image"
      class="w-full h-auto"
    />
  </div>
}

  <!-- Actions -->
  <div class="flex justify-between items-center mt-3 text-gray-500 text-sm mb-6">
    <button
      class="flex items-center hover:text-blue-600 transition-colors duration-150"
    > 
       Like
    </button>

    <button (click)="onShowComments()"
      class="flex items-center hover:text-blue-600 transition-colors duration-150"
    >
      <svg
        class="w-5 h-5 mr-1"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8 10h.01M12 10h.01M16 10h.01M21 12c0 4.418-4.03 8-9 8a9.96 9.96 0 01-4.74-1.21L3 20l1.79-3.58A7.97 7.97 0 013 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"
        />
      </svg>
      Show Comments
    </button>
  </div>
 