<form class="w-full" >
  <label for="chat" class="sr-only">Your message</label>

  <div class="flex items-center px-3 py-2 rounded-2xl bg-gray-100 border border-gray-200 shadow-sm">

    <!-- Textarea -->
    <textarea [formControl]="content"
      id="chat"
      rows="1"
      class="flex-1 mx-3 bg-transparent resize-none outline-none border-none text-gray-800 text-sm placeholder:text-gray-500 focus:ring-0 focus:border-none"
      placeholder="Write a message..."
    ></textarea>

    <!-- Send Button -->
    <button
       (click)="onsubmit($event)"
         type="submit"
         [disabled]="content.invalid"
        class="inline-flex  justify-center p-2 rounded-full text-blue-600 disabled:opacity-40 hover:bg-transparent cursor-pointer"
    >
      <svg
        class="w-6 h-6 rotate-90 rtl:-rotate-90"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
      >
        <path d="m12 18-7 3 7-18 7 18-7-3Zm0 0v-5" />
      </svg>
      <span class="sr-only">Send message</span>
    </button>

  </div>
</form>
