@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

/* You can a@import "flowbite/src/themes/default";
dd global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eeeeee;
}